<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <% if(locals.names){%>
        <div class="block1">
        <% for(var i=0;i<names.length;i++) {%>
          <h3>Name: <%=names[i].name%></h3>
          <h3>Subject: <%=names[i].sub%></h3>
          <h3>Discription: <%=names[i].discription%></h3>
          <h3>Response: <%=names[i].response%></h3>
          <h3>Replyby: <%=names[i].replyby%></h3>
          </div>
   <% }%>
      <%}%>
</body>
</html>